
.modal-info.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal-infoLabel' aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title(style='font-size:24px')
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                p
            .modal-footer
                button(data-dismiss="modal")#ok.btn.btn-primary Lets Communicate!